@import url('http://fonts.googleapis.com/css?family=Gabriela');
@import url('http://fonts.googleapis.com/css?family=Gafata');


@media(max-width: 320px) {
	#container {
		margin: 10px;
	}
}

#logo {
	font-size: 2em;
	font-family: Gabriela, Zapfino, American Typewriter;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Gafata, Chalkboard, Lucida Grande, Helvetica, Arial;
	background-image: url(/images/carbon_fibre.png);
	color: #333;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

a {
	text-decoration: none;
	color: #b77843;
}

.button {
	display: inline-block;
	width: 110px;
	height: 40px;
	background-color: #003366;
	border: 1px solid black;
	color: white;
	padding: 10px 10px;
	text-align: center;
	font-family: Helvetica;
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: 0 0 2px rgba(0,0,0,0,0.4);
	cursor: pointer;
}

.button.highlighted {
	background-color: #dd4b39;
}

.button:hover{
		box-shadow: 0px 2px 1px white inset, 
		0px -2px 20px white, 
		0px 2px 5px rgba(0, 0, 0, 0.1), 
		0px 8px 10px rgba(0, 0, 0, 0.1);
		}

header {
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 20px;
}

header > * {
	margin: auto 0;
}
header #logo {
	display: flex;
	margin-right: 20px;
}

header a {
	color: white;
}

header #user-links {
	flex: 1;
	-webkit-flex: 1;
	text-align: right;
}

header #user-links > * {
	display: inline-block;
}

header #user-links #welcome-message {
	font-size: 16px;
}

#container {
	border-radius: 5px;
	background-color: white;
	margin: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	padding: 10px;
}

.link {
	background-color: #EEE; /*This is exquivalent to #EEEEEE*/
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	margin: 10px inherit;
	padding: 15px 10px;
	position: relative;
}

.link .star {
	position: absolute;
	font-size: 24px;
	right: 5px;
	top: 5px;
	color: yellowgreen;
	cursor: pointer;
}

.link .star.solid {
	opacity: 0;
}

.link a.title {
	letter-spacing: 1px;
}

.link .description {
	margin: 10px inherit;
}

.link .source {
	float: right;
	font-size: 12px;
}

footer {
	display: flex;
	background-image: url(/images/frenchstucco.png);
	height: 70px;
	/*position: absolute;*/
	bottom: 0;
	width: 100%; 
}

footer > * {
	margin: auto inherit;
}

footer img {
	vertical-align: top;
}

footer #technologies {
	-webkit-flex: 1;
	flex: 1;
	font-size: 14px;
}

footer p {
	padding: 5px 25px;
	font-family: Chalkboard, Papyrus;
}

footer, .footer, .push {
	height: 70px;

}

.flash {
	text-align: center;
	margin: 5px;
	padding: 5px;
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	color: white;
}

.flash.notice {
	background-color: rgba(67,183,120,0.75);
}

.flash.error {
	background-color: rgba(169,29,42,0.75); 
}

h1 {
	font-size: 22px;
}

form {
	text-align: center;
  margin: 25px auto;
  width: 300px;
  position: relative;
}

form p {
	margin: 10px 0;
}

form input[type="text"], form input[type="password"] {
	border: 1px solid black;
	font-size: 16px;
	width: 300px;
	height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border-color: black;
  color: #e74c3c;
  outline: none;

}


::-webkit-input-placeholder {
  color: #e74c3c;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #e74c3c;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #e74c3c;
}
:-ms-input-placeholder {
  color: #e74c3c;
}
